{% extends "homepage.html" %}
{% block main %}

		<h5> Please enter ticker symbol and amount of shares you would like to buy and hit submit </h5>
		<form action ="/buy" method = "post">
			<input name = "thingone" placeholder = "Ticker Symbol" type="text">
			<input name = "thingtwo" placeholder = "Trade Volume" type="text">
			<input type = "submit">
		</form>
		<p>{{ message }}</p>
		<ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
        <a class="nav-link" href="/homepage">Back to Home</a>

{% endblock main %}
