<!DOCTYPE html>
<html lang="en">

  <head>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122821093-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-122821093-1');
        </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BloomsEdge</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://blackrockdigital.github.io/startbootstrap-grayscale/css/grayscale.min.css" rel="stylesheet">

  </head>

    <body id="page-top">
    <form action="/" method="get" class="">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Programmer.</h1>
          <h1 class="mx-auto my-0 text-uppercase">Trader.</h1>
          <h1 class="text-white-100 mx-auto mt-4 mb-10"> </h1>

            <br></br>

          <a href="#about" class="btn btn-primary js-scroll-trigger">Learn More</a>
          <br></br>
           <br></br>

          <a href="/registration">Please Click to Register</a>

        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">About Me</h2>
            <p class="text-white-50">Welcome to my page! My name is Michael Bloom.  I have been a Commodity Derivatives trader for over a decade.  As a trader at DRW Holdings for 8 years, my passion for trading was ignited.  As computers became a more integral part of the business, I expanded my focus and expertise to become a computer programmer after attending a Python / Data Science focused FinTech coding bootcamp.  Click on the project name to go see the app.  Also, please feel free to reach out and contact me by clicking <a href=#contact>here.</a>

              </p>
          </div>
        </div>
        <img src="https://github.com/MikeBloom914/images/blob/master/festival.jpg?raw=true" class="img-fluid" alt="">
      </div>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="projects-section bg-light">
      <div class="container">
        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="https://github.com/MikeBloom914/images/blob/master/me.jpg?raw=true" alt="">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4><a href="/login">Web Trader</a></h4>
              <p class="text-black-50 mb-0">Web Trader is a simulation trading game.  You trade paper money.  The app keeps track of your balance, p/l and positions of all stocks you buy and sell.  Yes, that is an actual picture of me on the left signaling to sell a natural gas derivative on the CME trading floor.</p>
            </div>
          </div>
        </div>

        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="https://github.com/MikeBloom914/images/blob/master/Halite.jpg?raw=true" alt="">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4><a href="https://github.com/MikeBloom914/halite">Halite III</a></h4>
                  <p class="mb-0 text-white-50">Created a bot to compete in the Halite III tournament.  Halite is an open source artificial intelligence programming challenge, created by hedge fund Two Sigma. (Shecky is my name on Discord)*Webpage coming soon!</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="https://github.com/MikeBloom914/images/blob/master/abyss.jpg?raw=true" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white"><a href="https://cryptosabyss.com">CryptosAbyss</a></h4>
                  <p class="mb-0 text-white-50">CryptosAbyss is a historical price data analysis project to try and find a fundamental indicator for the price movement of cryptocurrencies.  You can sort the table on any data you choose. </p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Three Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="https://github.com/MikeBloom914/images/blob/master/chart.jpeg?raw=true" alt="">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4><a href="/AnacottSteel">Anacott Steel</a></h4>
                  <p class="mb-0 text-white-50">Anacott Steel is an interactive stock chart graphing visualizer to help compare two or more historical stock prices together.  The entire app was all done in Python.</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>




      </div>
    </section>

    <!-- Signup Section -->
    <!-- <section id="signup" class="signup-section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto text-center">

            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 class="text-white mb-5">Subscribe to receive updates!</h2>

            <form class="form-inline d-flex">
              <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
              <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
            </form>

          </div>
        </div>
      </div>
    </section> -->

    <!-- Contact Section -->
    <section id="contact" class="contact-section bg-black">
      <div class="container">

        <div class="row">

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fab fa-linkedin text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">LinkedIn</h4>
                <hr class="my-4">
                <a href="https://www.linkedin.com/in/mbloom1212/">My LinkedIn Page</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-envelope text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Email</h4>
                <hr class="my-4">
                <div class="small text-black-50">
                  <a href="mailto:mikebloom914@gmail.com">mikebloom914@gmail.com</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-file-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Resume/CV</h4>
                <hr class="my-4">
                <!-- <div class="small text-black-50">make_link_to_resume</div> -->
                <a href="https://github.com/MikeBloom914/images/blob/master/BloomResume.PDF">Link to Resume/CV
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
            <hr class="my-4">
        </div>
        <div class="social d-flex justify-content-center">
          <a href="https://github.com/MikeBloom914" class="mx-2">
          Github
          <i class="fab fa-github"></i>
          </a>
          <a href="https://medium.com/@michaelbloom_99431" class="mx-2">
          Medium
          <i class="fab fa-medium"></i>
          </a>
          <a href="https://www.interactivebrokers.com/en/index.php?f=25244&vid=18123" class="mx-2">
          IBKR
          <i class="fab fa-bitcoin"></i>
          </a>
        </div>

      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <p class="mt-5 mb-3 text-muted">&copy; <a href="https://www.bloomsedge.com">BloomsEdge.com</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://blackrockdigital.github.io/startbootstrap-grayscale/vendor/jquery/jquery.min.js"></script>
    <script src="https://blackrockdigital.github.io/startbootstrap-grayscale/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://blackrockdigital.github.io/startbootstrap-grayscale/vendor/font-awesome/js/all.js"></script>
    <script src="https://blackrockdigital.github.io/startbootstrap-grayscale/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="https://blackrockdigital.github.io/startbootstrap-grayscale/js/grayscale.min.js"></script>
    </form>
  </body>

</html>
